<div class="footer-bottom row">
    <div class="col-md-6 col-md-push-6">
        <ul class="footer-nav">
            <li><a href="/index"><span class="fa fa-home"></span> Accueil</a></li>
            <li><a href="/mentions_legales"> Mentions légales</a></li>
        </ul>
    </div>
    <div class="col-md-6 col-md-pull-6">
        <div class="footer-copyright">
            Puy d'Info &copy;2020
            - Version : {{ APP_VERSION_NUMBER }} <br>
            Auteur : Alexandre Guignard - Site : <a href="https://www.alusio.fr" target="_blank">https://www.alusio.fr</a>
        </div>
        <div class="footer-copyright">
            Site non officiel, indépendant et non reconnu par le Puy du Fou.
        </div>
    </div>
</div>