{% load static %}
{% load staticfiles %}
{% load webpush_notifications %}
<script src="{% static 'js/loader/jquery.min.js' %}"></script>
<script src="{% static 'js/loader/pace.js' %}"></script>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.0/fullcalendar.css'/>

{% include "import.html" %}

<!DOCTYPE html>
<html lang="fr">

<head>
    {% webpush_header %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Puy d'Info</title>
    <link rel="shortcut icon" href="{% static '/favicon/favicon-2.ico' %}">
    {% include "google_analytics.html" %}
</head>

<body>

<header id="header">

    {% include "nav.html" %}
</header>
{% include 'legales_js.html' %}

<br>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-centered">
                <h2><span class="far fa-user"></span> Nb users : {{ users.count }}</h2>
                <h2><span class="far fa-calendar"></span> Last prog : {{ programme.0.date }}</h2>
                <hr>
                <h2><span class="far fa-newspaper"></span> Articles : </h2>
                {% for article in articles %}
                    <h3><a href="article/{{ article.slug }}"><span class="fas fa-chevron-right"></span> Article
                        : {{ article.title }}</a></h3>
                {% endfor %}

                <button id="webpush-subscribe-button" data-url="/webpush/save_information"
                        class="btn btn-red-new btn-lg">
                    <span class="far fa-bell"></span> S'inscrire aux notifications
                </button>

                <div id="webpush-message" hidden=""></div>
            </div>
            <br>
            <div class="col-12 col-centered">
                <div id='calendar'></div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>


<!-- FOOTER -->
<footer id="footer">
    <div class="container">
        {% include 'copyright.html' %}
    </div>
</footer>
<!-- /FOOTER -->

<!-- Scripts
-->
<link rel="stylesheet" type="text/css" href="{% static '/cookie/cookiealert.css' %}">
<script src="{% static '/cookie/cookiealert.js' %}"></script>
<script src="{% static '/theme/js/jquery.min.js' %}"></script>
<script src="{% static '/theme/js/bootstrap.min.js' %}"></script>
<script src="{% static '/theme/js/jquery.stellar.min.js' %}"></script>
<script src="{% static '/theme/js/main.js' %}"></script>
<script src="{% static '/js/idb.js' %}"></script>
<script src="{% static '/js/idbop.js' %}"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.1/moment.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/fullcalendar.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/locale/fr.js'></script>
<script>
    $(document).ready(function () {

        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();

        $('#calendar').fullCalendar({
            land: 'fr',
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            editable: false,
            events: [
                {
                    title: 'Discovery',
                    allDay: true,
                    start: new Date(2019, 7, 13),
                    color: '#01549a',
                    rendering: 'background'
                },
            ]


        });

    });
</script>
</body>
</html>

