<!DOCTYPE html>
{% load pwa %}
{% load static %}
{% load staticfiles %}

<html lang="fr">
<link rel="stylesheet" href="{% static '/theme/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static '/theme/css/style.css' %}">
<head>
    <title>Mentions légales</title>
    <meta charset="utf-8"/>
    <meta name="description" content="Site permettant de préparer votre voyage au du Puy du Fou"/>
    <meta name="keywords" content="sites, puy du fou, préparer, programmer, parc, cinéscénie"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="shortcut icon" href="{% static '/favicon/favicon-2.ico' %}">
    {% include "google_analytics.html" %}
</head>

<body>
<header id="header">

    {% include "nav.html" %}
</header>
{% include 'legales_js.html' %}
<br>
<div class="section">
    <div class="container">
        <div id="hot-post" class="row hot-post">
            <div class="col-md-12">
                <div class="post">
                    <div id="content">

                        <header class="style1">
                            <h2>Mentions légales</h2>
                            <hr>
                            <br>

                        </header>

                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#collapse1">Protection Vie Privée</a>
                                    </h4>
                                </div>
                                <div id="collapse1" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4>Politique de confidentialité</h4>
                                            </div>
                                            <div class="panel-body">
                                                <p style="text-align: justify">Cette politique de confidentialité a été
                                                    mise
                                                    à
                                                    jour
                                                    pour la dernière
                                                    fois en février 2020.<br>

                                                    Puy d'Info s'engage à protéger et à
                                                    respecter votre vie privée. Cette politique de confidentialité
                                                    définit
                                                    la
                                                    manière dont nous
                                                    collectons, utilisons et partageons les informations qui vous
                                                    identifient ou
                                                    vous sont associées
                                                    («informations personnelles»).<br><br>

                                                    Veuillez lire attentivement cette politique de confidentialité pour
                                                    comprendre
                                                    nos points de vue
                                                    et pratiques concernant vos informations personnelles et comment
                                                    nous
                                                    allons
                                                    les
                                                    traiter. En
                                                    utilisant et en accédant à https://www.puydinfo.fr (le «Service»),
                                                    vous
                                                    consentez
                                                    à
                                                    l'utilisation de vos informations personnelles comme décrit dans
                                                    cette
                                                    Politique
                                                    de
                                                    confidentialité. Vous devez également savoir que nous utilisons des
                                                    cookies
                                                    pour
                                                    stocker et
                                                    accéder aux informations tout en fournissant le Service. S'il vous
                                                    plaît,
                                                    voir
                                                    notre politique
                                                    de
                                                    cookies pour plus de détails.<br><br>

                                                    Veuillez noter que vos données seront traitées conformément à la loi
                                                    "Informatique et Libertés"
                                                    n ° 78/17 du 6 janvier 1978 et "REGLEMENT (UE) 2016/679" du 27 avril
                                                    2016
                                                    relative à la
                                                    protection des personnes physiques à l'égard des traitements de
                                                    données
                                                    personnelles (GDPR). La
                                                    base légale du traitement des données est la relation contractuelle
                                                    entre
                                                    Puy
                                                    d'Info et
                                                    vous.<br><br>

                                                    Pour toutes questions, contactez nous avec le formulaire présent sur
                                                    la
                                                    page
                                                    d'accueil ou à
                                                    l'adresse mail suivante:<br>

                                                    contact@puydinfo.fr</p>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4>Informations que nous pouvons recueillir</h4>
                                            </div>
                                            <div class="panel-body">


                                                <p style="text-align: justify">Nous collectons les catégories
                                                    d'informations
                                                    ci-dessous lorsque vous
                                                    utilisez le Service.<br><br>

                                                    <b>Informations que nous collectons directement auprès de
                                                        vous</b><br>
                                                    Nous recueillons des informations auprès de vous lorsque vous les
                                                    saisissez
                                                    directement sur le
                                                    site. Voici des exemples de cas où nous pouvons collecter des
                                                    informations
                                                    directement auprès de
                                                    vous:<br><br>
                                                    <i>Note : Certaines fonctionnalités ne sont pas encore présentes sur
                                                        le
                                                        site.</i><br>
                                                    Informations sur le compte, telles que vos nom, prénom, email et
                                                    photo
                                                    de
                                                    profil.<br>
                                                    Vos préférences utilisateur : choix des spectacles, hôtels,
                                                    restaurants,
                                                    composition de la
                                                    famille<br>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4>Traitement des données</h4>
                                            </div>
                                            <div class="panel-body">


                                                <p style="text-align: justify">Les informations collectées par Puy
                                                    d'Info
                                                    sont
                                                    stockées et traitées
                                                    sur les serveurs de l’hébergeur Online by Scaleway, situés en
                                                    France. Le
                                                    traitement des
                                                    informations collectées
                                                    à votre sujet est uniquement effectué aux fins décrites dans la
                                                    présente
                                                    Politique de
                                                    confidentialité.<br></p>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4>Utilisations faites des informations que nous recueillons</h4>
                                            </div>
                                            <div class="panel-body">


                                                <p style="text-align: justify">Nous utilisons les informations que nous
                                                    collectons
                                                    de la manière
                                                    suivante: Pour gérer votre compte et vous fournir les
                                                    fonctionnalités du
                                                    Service. Pour vous
                                                    assurer que le contenu du Service est présenté de la manière la plus
                                                    efficace
                                                    pour vous et pour
                                                    votre appareil et pour afficher du contenu et des fonctionnalités
                                                    adaptés à
                                                    vos
                                                    besoins et à la
                                                    façon dont vous utilisez le Service.<br></p>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4>Intégrité et conservation des renseignements personnels</h4>
                                            </div>
                                            <div class="panel-body">


                                                <p style="text-align: justify">Puy d'Info conservera vos informations
                                                    personnelles
                                                    pendant la
                                                    période
                                                    nécessaire pour remplir les objectifs décrits dans la présente
                                                    Politique
                                                    de
                                                    confidentialité,
                                                    sauf si une période de conservation plus longue est requise ou
                                                    autorisée
                                                    par
                                                    la
                                                    loi.<br><br>

                                                    La plupart du temps, nous conserverons vos données personnelles
                                                    pendant
                                                    toute la
                                                    durée de votre
                                                    activité et jusqu'à ce que vous décidiez de supprimer votre
                                                    compte.<br><br>

                                                    Lors de la suppression du compte, toutes vos données personnelles
                                                    sont
                                                    supprimées.<br><br>

                                                    En tant que Contrôleur du traitement des données, Puy d'Info traite
                                                    les
                                                    données
                                                    de manière à
                                                    garantir la sécurité des données personnelles, y compris la
                                                    protection
                                                    contre
                                                    les traitements
                                                    non autorisés ou illégaux et contre les pertes, destructions ou
                                                    dommages
                                                    accidentels, en
                                                    utilisant des mesures techniques ou organisationnelles
                                                    appropriées.<br>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4>Divulgation de renseignements personnels</h4>
                                            </div>
                                            <div class="panel-body">


                                                <p style="text-align: justify">Puy d'Info s'engage à ne pas divulguer à
                                                    des
                                                    tiers
                                                    les informations
                                                    et Données
                                                    Personnelles que vous nous communiquez. Ces informations et Données
                                                    Personnelles
                                                    sont
                                                    exclusivement utilisées par nos services internes et ne seront en
                                                    aucun
                                                    cas
                                                    cédées, vendues à
                                                    des tiers.<br></p>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4>Accès à l'information</h4>
                                            </div>
                                            <div class="panel-body">


                                                <p style="text-align: justify">Vous disposez d'un droit d'accès et de
                                                    rectification
                                                    de vos données
                                                    personnelles et, pour des raisons légitimes, vous avez le droit de
                                                    restreindre
                                                    et d'effacer les
                                                    données qui vous concernent. Vous avez également un droit à la
                                                    portabilité
                                                    des
                                                    données et le
                                                    droit de retirer votre consentement. Vous pouvez à tout moment
                                                    demander
                                                    à
                                                    exercer ces droits en
                                                    nous contactant : <br>
                                                    email: <b>contact@puydinfo.fr</b><br><br>
                                                    Si vous avez des questions ou des réclamations, nous ferons de notre
                                                    mieux
                                                    pour
                                                    vous répondre,
                                                    mais si nous ne sommes pas en mesure de satisfaire votre demande,
                                                    vous
                                                    pouvez
                                                    déposer une
                                                    plainte auprès d'une autorité de surveillance.</p>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4>Changements à notre politique de confidentialité</h4>
                                            </div>
                                            <div class="panel-body">


                                                <p style="text-align: justify">Tout changement que nous pourrions
                                                    apporter à
                                                    notre
                                                    politique de
                                                    confidentialité dans le futur sera publié sur cette page. Nous
                                                    pouvons
                                                    changer,
                                                    modifier,
                                                    ajouter ou supprimer des parties de cette politique de
                                                    confidentialité à
                                                    tout
                                                    moment afin de
                                                    maintenir la transparence que nous appliquons dans le traitement de
                                                    vos
                                                    données.
                                                    Nous ferons
                                                    tout notre possible pour vous informer de tout changement important
                                                    survenu.
                                                    Nous pouvons le
                                                    faire par courriel ou par avis sur le site que nous considérons
                                                    approprié.
                                                    Toute
                                                    modification
                                                    sera mise à jour sur cette page de politique de confidentialité.
                                                    Vous
                                                    devriez
                                                    consulter
                                                    périodiquement notre page Politique de confidentialité pour de tels
                                                    changements
                                                    et vous y
                                                    opposer en vous désabonnant du Service (c'est-à-dire en supprimant
                                                    votre
                                                    compte). Veuillez noter
                                                    en outre, selon votre interaction particulière avec nous,
                                                    différentes
                                                    parties de
                                                    cette politique
                                                    de confidentialité peuvent s'appliquer à vous à des moments
                                                    différents.<br>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>

                            <div class="panel-group">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" href="#collapse2">Politique cookies</a>
                                        </h4>
                                    </div>
                                    <div id="collapse2" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4>Qu'est-ce qu'un cookie ?</h4>
                                                </div>
                                                <div class="panel-body">
                                                    <p style="text-align: justify">Un cookie est un petit texte déposé
                                                        sur
                                                        votre
                                                        ordinateur lors de la
                                                        visite d'un site. Il a pour but de
                                                        stocker des informations variées, par exemple des informations
                                                        relatives
                                                        à
                                                        votre
                                                        navigation.<br>

                                                        Les cookies sont gérés par votre navigateur internet et seul le
                                                        site
                                                        émetteur
                                                        d'un cookie est
                                                        susceptible de lire ou de modifier les informations qui y sont
                                                        contenues.<br>

                                                        Par simplification “cookie” désigne ici les cookies en tant que
                                                        tel
                                                        mais
                                                        également tout
                                                        dispositif
                                                        technique alternatif permettant de stocker de l’information au
                                                        niveau du
                                                        navigateur et de la
                                                        restituer
                                                        lors de la navigation ou à une date ultérieure. L’utilisation du
                                                        “Local
                                                        storage”
                                                        ou de "pixels"
                                                        sont des
                                                        exemples de techniques alternatives.</p>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4>Quand utilisons-nous des cookies ?</h4>
                                                </div>
                                                <div class="panel-body">

                                                    <p style="text-align: justify">Les cookies sont utilisés dès lors
                                                        que
                                                        vous
                                                        naviguez
                                                        sur le site, dès
                                                        lors que vous êtes inscrit(e) et connecté(e).</p>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4>À quelles fins utilisons-nous des cookies ?</h4>
                                                </div>
                                                <div class="panel-body">


                                                    <p style="text-align: justify">Une fois connecté, un cookie permet
                                                        de
                                                        vous
                                                        identifier lors de votre
                                                        navigation ou d’une visite à l’autre. Ainsi vous n’avez pas à
                                                        vous
                                                        ré-identifier
                                                        lorsque vous
                                                        revenez sur le site. Ce cookie est effacé lorsque vous vous
                                                        déconnectez.</p>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4>Comment puis-je désactiver les cookies ?</h4>
                                                </div>
                                                <div class="panel-body">


                                                    <p style="text-align: justify">Chaque navigateur permet de
                                                        désactiver
                                                        les
                                                        cookies
                                                        d’un site donné.
                                                        Nous vous invitons à consulter l’aide de votre navigateur à ce
                                                        sujet. En
                                                        cas
                                                        de
                                                        désactivation
                                                        des cookies, certains services ne seront plus accessible.
                                                        Notamment
                                                        vous
                                                        ne
                                                        pourrez pas accéder
                                                        aux services uniquement réservés aux personnes connectées.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section" style="height: 30%">
</div>


<!-- FOOTER -->
<footer id="footer">
    <div class="container">
        {% include 'copyright.html' %}
    </div>
</footer>
<!-- /FOOTER -->

<!-- Scripts -->
<script>
    function myFunction(id) {
        let x = document.getElementById(id);
        if (x.className.indexOf("w3-show") === -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }
</script>
<script src="{% static 'js/loader/jquery.min.js' %}"></script>
<script src="{% static 'js/loader/pace.js' %}"></script>

{% include "import.html" %}
<link rel="stylesheet" href="{% static '/cookie/cookiealert.css' %}">
<script src="{% static '/cookie/cookiealert.js' %}"></script>
<script src="{% static '/theme/js/jquery.min.js' %}"></script>
<script src="{% static '/theme/js/bootstrap.min.js' %}"></script>
<script src="{% static '/theme/js/jquery.stellar.min.js' %}"></script>
<script src="{% static '/theme/js/main.js' %}"></script>
<script src="{% static '/js/idb.js' %}"></script>
<script src="{% static '/js/idbop.js' %}"></script>

</body>
</html>