{% load static %}


<div class="alert alert-dismissible text-center cookiealert" role="alert">

    <div class="cookiealert-container">

        <b>Vous aimez les cookies ?</b> &#x1F36A; Nous les utilisons afin de garantir la meilleure expérience
        utilisateur possible.<br>
        En poursuivant votre navigation sur ce site, vous acceptez l’utilisation de cookies <a
            href="/mentions_legales" target="_blank" style="color: white">Voir plus</a>

        <button type="button" class="btn btn-primary btn-sm acceptcookies" aria-label="Close">
            J'accepte
        </button>
    </div>
</div>
