<!DOCTYPE html>
{% load pwa %}
{% load static %}
{% load staticfiles %}
{% load recaptcha3 %}
<html lang="fr">
<link rel="stylesheet" href="{% static '/theme/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static '/theme/css/style.css' %}">
<head>
    {% recaptcha_init %}
    {% recaptcha_ready action_name='homepage' %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Puy d'Info</title>
    <link rel="shortcut icon" href="{% static '/favicon/favicon-2.ico' %}">
    {% include "google_analytics.html" %}
</head>

<body>
<header id="header">

    {% include "nav.html" %}
</header>
{% include 'legales_js.html' %}

<br>
{% for message in messages %}

    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}

    </div>
{% endfor %}
<div class="section">

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-centered">

                {% block content %}
                    {{ form.media }}
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-red btn-lg" type="submit">Valider !</button>
                    </form>

                {% endblock %}
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<br>
<br>
<br>
<br>
<!-- FOOTER -->
<footer id="footer">
    <div class="container">
        {% include 'copyright.html' %}
    </div>
</footer>
<!-- /FOOTER -->

<!-- Scripts
-->
<script src="{% static 'js/loader/jquery.min.js' %}"></script>
<script src="{% static 'js/loader/pace.js' %}"></script>

{% include "import.html" %}
<link rel="stylesheet" href="{% static '/cookie/cookiealert.css' %}">
<script src="{% static '/cookie/cookiealert.js' %}"></script>
<script src="{% static '/theme/js/jquery.min.js' %}"></script>
<script src="{% static '/theme/js/bootstrap.min.js' %}"></script>
<script src="{% static '/theme/js/jquery.stellar.min.js' %}"></script>
<script src="{% static '/theme/js/main.js' %}"></script>
<script src="{% static '/js/idb.js' %}"></script>
<script src="{% static '/js/idbop.js' %}"></script>

</body>
</html>















